@use "vars";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.container-logo-global {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 44px;
}
.container-logo-global img{
    width: 40px;
}
.container-logo-global span{
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 3px;
    color: #1877f2;
}
.form-global {
	display: flex;
	flex-direction: column;
}
.primary-button-global {
	background-color: vars.$green-face;
	border-radius: 8px;
	border: none;
	color: vars.$white;
	width: 100%;
	cursor: pointer;
	font-size: vars.$sm;
	font-weight: bold;
	height: 50px;
}
.secondary-button-global {
	background-color: vars.$white;
	border-radius: 8px;
	border: 1px solid vars.$blue-face;
	color: vars.$blue-face;
	width: 100%;
	cursor: pointer;
	font-size: vars.$sm;
	font-weight: bold;
	height: 50px;
}
.label-global {
	font-size: vars.$sm;
	font-weight: bold;
	margin-bottom: 4px;
}
.input-global {
	background-color: vars.$text-input-field;
	border: none;
	border-radius: 8px;
	height: 50px;
	font-size: vars.$sm;
	padding: 6px;
	margin-bottom: 12px;
	width: 100%;
	box-sizing: border-box;
	outline: none;
}
.input-email-global {
	margin-bottom: 22px;
}
.btn-button-global {
	margin-top: 14px;
	margin-bottom: 30px;
}
@media(max-width:640px){
    .secondary-button-global{
        width: 100%;
        max-width: 300px;
        position: absolute;
        bottom: 0;
        margin-bottom: 32px;
    }
}
@media(max-width:300px){
    .label-global{
        padding: 0 5px;
		box-sizing: border-box;
    }
}