@use 'vars';

.MyOrder {
	width: 360px;
	height: calc(100vh - 60px);
	padding: 12px;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	background-color: white;
	top:60px;
	bottom: 0;
	border-radius: 6px;
	border: 1px solid vars.$text-link;
}
.title-container {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	gap: 14px;
	background-color: white;
}
.title-container img {
	cursor: pointer;
}
.title-myOrder {
	font-size: vars.$lg;
	font-weight: bold;
	margin: 0;
}
.my-order-content{
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2);
	height: auto;
	max-height: calc(100vh - 256px);
}
.my-order-content::-webkit-scrollbar{
	width: 8px;
}

.myOrderTotal {
	display: flex;
	gap: 16px;
	align-items: center;
	background-color: vars.$text-input-field;
	margin: 12px 0;
	border-radius: 8px;
	padding: 0 24px;
}
.myOrderTotal p span:nth-child(1) {
	font-size: vars.$md;
	font-weight: bold;
}
.myOrderTotal p:nth-child(2) {
	width: 100%;
	text-align: right;
	font-weight: bold;
}
@media (max-width: 640px) {
	.MyOrder {
		width: 100%;
	}
}